<div id="<%= dom_id item %>">
    <div class="card">
        <h1><%=item.title%></h1>
        <p>Description : <%=item.description%></p>
        <%= image_tag item.image_url %> 
        <h3>Prix de la photo : <%=item.price%> €</h3> 
    </div>
</div>
